<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!Judul shoopedia>
	<!-- As a heading -->


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="../../catalog.css">
	<!style>

</head>

<body>
	<!Navigasi untuk homepage>

	<nav class="navbar navbar-default bg-light" style="z-index:2">
		<div class="container-fluid">
			<a class="navbar-brand" href="/catalog">
				<img src="/../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
				Shopeedia
			</a>
			<form class="form-inline my-2 my-lg-0" method="get" action="/catalog">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<% if (!currentUser) { %>
			<span class="navbar-text">
				<a href="/login">Login</a>
				<span>&nbsp;&nbsp;&nbsp;</span>
				<a href="/register">Sign Up</a>
			</span>
			<% } else { %>
			<span class="navbar-text">
				<% if (currentUser.username == "admin") { %>
				<a href="/dashboard"><strong>
						Dashboard</strong>
				</a>
				<span>&nbsp;&nbsp;&nbsp;</span>
                <% } else { %>
                    <span class="navbar-text">
                        <% if (currentUser.username == "admin") { %>
                        <a href="/dashboard"><strong>
                                Dashboard</strong>
                        </a>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <% } else { %>
                            <a href="/profile">
                                Welcome, <strong>
                                    <%=currentUser.username%></strong>
                            </a>
                            <% if (Array.isArray(currentUser.cart) && currentUser.cart.length ) { %>
                            <a href="/checkout">
                                <strong> Checkout </strong>
                            </a>
                            <% } %>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        <% } %>
                        <a href="/logout">Logout</a>
                    </span>
                    <% } %>
		</div>
	</nav>

	<div class=container>
		<% if (flashError && flashError.length > 0) { %>
		<div class="alert alert-danger" role="alert">
			<%=flashError%>
		</div>
		<% } else if (flashSuccess && flashSuccess.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%=flashSuccess%>
		</div>
		<% } %>
	</div>


	<div class="container col-8">
		
		<br>
		<h1><span class="badge badge-primary">Products</span></h1>
		<br>
		<div class="card-deck">
			<!-- <div class="row"> -->
			<% products.forEach(function(product){ %>
			<div class="product-card col-lg-3 col-md-4 col-sm-6">
				<div class="card">
					<a href="/catalog/<%=product._id%>"><img class="card-img-top img-fluid" src="<%=product.image%>" alt="Card image cap"></img></a>
					<div class="card-body">
						<h5 class="card-title">
							<%=product.productName%>
						</h5>
						<% if (product.discount > 0) { %>
						<p class="card-subtitle" style="text-decoration: line-through; font-size:0.8rem">Rp.
							<%=product.price%>
							<p>
								<h6 class="card-subtitle">Rp.
									<%=product.price - (product.price*product.discount/100)%>
								</h6>
								<% } else { %>
								<h6 class="card-subtitle">Rp.
									<%=product.price%>
								</h6>
								<% } %>

								<p class="card-text">
									<%=product.description%>
								</p>
					</div>
				</div>
			</div>
			<% }) %>
			<!-- </div> -->
			<br>
		</div>
		<div class="container bg-light">
			<br>
			<h3>Kategori</h3>
			<br>
		</div>
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item">
					<img class="d-block w-100" src="../../assets/shopping.jpg" alt="Third slide">
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<img src="../../assets/shopping.jpg" class="img-fluid" alt="Responsive image" style='height: 100%; width: 100%; object-fit: contain'>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6" style="background-color:white">
					<div class="list-group">
						<% categories.forEach(function(category, index){ %>
						<% if (index % 2 == 0) { %>
						<a href="#" class="list-group-item list-group-item-action">
							<%=category%></a>
						<% } %>
						<% }) %>
					</div>
				</div>
				<div class="col-6" style="background-color:white">
					<div class="list-group">
						<% categories.forEach(function(category, index){ %>
						<% if (index % 2 == 1) { %>
						<a href="#" class="list-group-item list-group-item-action">
							<%=category%></a>
						<% } %>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
		<span><br><br></span>
		<div class="container-fluid footer" style="background-color:white">
			<div class="row">
				<div class="col-md-4">
					<h6 style="padding: 5px; margin: 5px 0 5px 0;">
						Shopeedia
					</h6>
					<ul class="list-group-flush">
						<li class="list-group-item"><a href="#">Tentang Kami</a></li>
						<li class="list-group-item"><a href="#">Blog</a></li>
						<li class="list-group-item"><a href="#">FAQS</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h6 style="padding: 5px; margin: 5px 0 5px 0;">
						Petunjuk
					</h6>
					<ul class="list-group-flush">
						<li class="list-group-item"><a href="#">Cara Membeli</a></li>
						<li class="list-group-item"><a href="#">Ketentuan</a></li>
						<li class="list-group-item"><a href="#">Pembayaran</a></li>
						<li class="list-group-item"><a href="#">Pengiriman</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h6 style="padding: 5px; margin: 5px 0 5px 0;">
						Bantuan
					</h6>
					<ul class="list-group-flush">
						<li class="list-group-item"><a href="#">Hubungi Kami</a></li>
						<li class="list-group-item"><a href="#">Syarat dan Ketentuan</a></li>
						<li class="list-group-item"><a href="#">Kebijakan Privasi</a></li>
						<li class="list-group-item"><a href="#">Panduan Keamanan</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
</body>

</html>