<!DOCTYPE html>
<html>

<head>
	<title>Tambahkan Produk</title>
	<link rel="stylesheet" href="/login.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-default bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/catalog">
				<img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
				Shopeedia
			</a>
			<% if (!currentUser) { %>
			<span class="navbar-text">
				<a href="/login">Login</a>
				<span>&nbsp;&nbsp;&nbsp;</span>
				<a href="/register">Sign Up</a>
			</span>
			<% } else { %>
			<span class="navbar-text">
				<% if (currentUser.username == "admin") { %>
				<a href="/dashboard"><strong>
						Dashboard</strong>
				</a>
				<% } else { %>
				<a href="/profile">
					Profile <strong>
						<%=currentUser.username%></strong>
				</a>
				<% } %>
				<span>&nbsp;&nbsp;&nbsp;</span>
				<a href="/logout">Logout</a>
			</span>
			<% } %>
		</div>
	</nav>

	<div class=container>
		<% if (flashError && flashError.length > 0) { %>
		<div class="alert alert-danger" role="alert">
			<%=flashError%>
		</div>
		<% } else if (flashSuccess && flashSuccess.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%=flashSuccess%>
		</div>
		<% } %>
	</div>

    <form action="/catalog/<%=product._id%>?_method=PUT" method="POST">
		<div class="imgcontainer">
			<img src="../../assets/logo.png" alt="Avatar" class="avatar">
		</div>

		<div class="container col-4">
			<label class="biru" for="product[productName]"><b>Nama Produk</b></label>
			<input type="text" value="<%=product.productName%>" name="product[productName]" readonly>
			<label class="biru" for="product[price]"><b>Harga</b></label>
			<input type="text" value="<%=product.price%>" name="product[price]" required>
			<label class="biru" for="product[discount]"><b>Diskon</b></label>
			<input type="text" value="<%=product.discount%>" name="product[discount]">
			<label class="biru" for="product[category]"><b>Kategori</b></label>
			<input type="text" value="<%=product.category%>" name="product[category]" disabled required>
			<label class="biru" for="product[stock]"><b>Jumlah Tersedia</b></label>
			<input type="text" value="<%=product.stock%>" name="product[stock]" required>
			<label class="biru" for="product[image]"><b>Tautan gambar</b></label>
			<input type="text" value="<%=product.image%>" name="product[image]" required>
			<label class="biru" for="product[description]"><b>Deskripsi Produk</b></label>
            <input type="text" value="<%=product.description%>" name="product[description]"required>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit"><strong>Ubah</strong></button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" type="submit"><strong>Hapus</strong></button>
                </div>
            </div>

		</div>
		</div>

	</form>
</body>

</html>