<!DOCTYPE html>
<html>

<head>
	<title>Profil</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css" />
	<link rel="stylesheet" href="login.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-default bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/catalog">
				<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
				Shopeedia
			</a>
			<% if (!currentUser) { %>
			<span class="navbar-text">
				<a href="/login">Login</a>
				<span>&nbsp;&nbsp;&nbsp;</span>
				<a href="/register">Sign Up</a>
			</span>
			<% } else { %>
				<span class="navbar-text">
					<% if (currentUser.username == "admin") { %>
					<a href="/dashboard"><strong>
							Dashboard</strong>
					</a>
					<span>&nbsp;&nbsp;&nbsp;</span>
					<% } else { %>
						<a href="/profile">
							Welcome, <strong>
								<%=currentUser.username%></strong>
						</a>
						<% if (Array.isArray(currentUser.cart) && currentUser.cart.length ) { %>
						<a href="/checkout">
							<strong> Checkout </strong>
						</a>
						<% } %>
						<span>&nbsp;&nbsp;&nbsp;</span>
					<% } %>
					<a href="/logout">Logout</a>
				</span>
				<% } %>
		</div>
	</nav>

	<div class=container>
		<% if (flashError && flashError.length > 0) { %>
		<div class="alert alert-danger" role="alert">
			<%=flashError%>
		</div>
		<% } else if (flashSuccess && flashSuccess.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%=flashSuccess%>
		</div>
		<% } %>
	</div>

	<div class="container">
		<div class="biru">
			<h1> Profil Anda</h1>
			<hr>
		</div>
		<div class="row">
			<div class="container col-md">
				<h3 class="subtitle"> <strong>
						<%=user.name%> </strong> </h3>
				<br>
				<table id="t01" style="width:100%">
					<tr>
						<td><strong> Username: </strong><br>
							<%=user.username%>
						</td>
					</tr>
					<tr>
						<td><strong> Alamat: </strong><br>
							<%=user.address%>
						</td>
					</tr>
					<tr>
						<td><strong> Nomor Telepon: </strong><br>
							<%=user.phone%>
						</td>
					</tr>
					<tr>
						<td><strong> Email: </strong><br>
							<%=user.email%>
						</td>
					</tr>
				</table>
			</div>

			<div class="container col-md-8">
				<h3 class="subtitle"> <strong>
						Histori Transaksi </strong> </h3>
				<br>
				<% if (transactions) { %>
				<% transactions.reverse(); %>
				<table id="t01" style="width:100%">
					<tr>
						<th>Tanggal</th>
						<th>Total Biaya</th>
						<th>Status</th>
						<th></th>
					</tr>
					<% transactions.forEach(function (transaction){ %>
					<tr>
						<td>
							<%=transaction.dateConfirmed%>
						</td>
						<td>
							<%=transaction.sum%>
						</td>
						<td>
							<%=transaction.status%>
						</td>
						<td>
							<a class ="btn" href="/status/<%=transaction._id%>">Status </a>
						</td>
					</tr>
					<% }); %>
					<% } else { %>
					<p> Anda belum pernah melakukan transaksi,
						ayo <a class="text-primary lead" href="/">belanja </a> sekarang!
					</p>
					<% } %>
				</table>
			</div>
		</div>
	</div>
	<!-- </div> -->


</body>

</html>