<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default bg-light" style="z-index:2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/catalog">
                <img src="../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Shopeedia
            </a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <% if (!currentUser) { %>
            <span class="navbar-text">
                <a href="/login">Login</a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href="/register">Sign Up</a>
            </span>
            <% } else { %>
            <span class="navbar-text">
                <% if (currentUser.username == "admin") { %>
                <a href="/dashboard"><strong>
                        Dashboard</strong>
                </a>
                <% } else { %>
                <a href="/profile">
                    Welcome, <strong>
                        <%=currentUser.username%></strong>
                </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <% } %>
                <% if (Array.isArray(currentUser.cart) && currentUser.cart.length ) { %>
                <a href="/checkout">
                    <strong> Checkout </strong>
                </a>
                <% } %>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href="/logout">Logout</a>
            </span>
            <% } %>
        </div>
    </nav>

    <div class=container>
        <% if (flashError && flashError.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%=flashError%>
        </div>
        <% } else if (flashSuccess && flashSuccess.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <%=flashSuccess%>
        </div>
        <% } %>
    </div>

    <div class="container col-md-8">
        <div class="row">
            <div class="col-md-10">
                <img src="<%=product.image%>">
                <h3>
                    <%=product.productName%>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="container col-md-9">
                <div class="row">
                    <div class="col">
						<% if (product.discount > 0) { %>
							<p class="card-subtitle" style="text-decoration: line-through; font-size:0.8rem">Rp.
                                Rp. <%=product.price%>
							<p>
							<h6 class="card-subtitle">Rp.
								<%=product.price - (product.price*product.discount/100)%>
							</h6>
                        <% } else { %>
                        <p>
                            Rp. <%=product.price%>
                        </p>
						<% } %>
                    </div>
                    <div class="col">

                        <p>
                            Masih tersedia:
                            <%=product.stock%>
                        </p>
                    </div>
                </div>
                <p>
                    <%=product.description%>
                </p>
            </div>

            <div class="container col-md-3">
                <br>
                <% if (!currentUser) { %> 
                <% } else if (currentUser.username == "admin") { %>
                <div class="row">
                    <div class="col">
                        <a href="/catalog/<%=product._id%>/edit" class="btn btn-warning btn-xs">Ubah</a>
                    </div>
                    <div class="col">
                            <form action="/catalog/<%=product._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger btn-xs" value="Hapus">
                        </form>
                    </div>
                </div>
                <% } else { %>
                <h5>Form Pembelian</h5>
                <form action="/cart/<%=product._id%>" method="post">
                    <div class="form-group">
                        <label for="order[quantity]">Kuantitas</label>
                        <input class="form-control" type="number" name=order[quantity]>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-sm" type="submit" value="Pesan">
                    </div>
                </form>
                <% } %>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="container col-md-12">
                <h5>Ulasan Produk</h5>
            </div>
            <div class="container col-md-12">
                <% if (currentUser) { %>
                <form action="/catalog/<%=product._id%>/comments" method="post">
                    <div class="form-inline">
                        <input name="komentar" class="form-control" style="width: 50%; max-width: 100%" type="text"
                            placeholder="Ketikkan ulasan kamu disini">
                        <p>&nbsp;</p>
                        <input class="form-control btn btn-primary" type="submit" placeholder="Kirim ulasan">
                    </div>
                </form>
            </div>
            <br>
            <br>
            <% } %>
            <div class="container col-md-12">
                <ul class="list-group-flush">
                    <% product.comments.reverse(); %>
                    <% product.comments.forEach(function(comment){ %>
                    <li class="list-group-item">
                        <blockquote class="blockquote mb-0" style="font-size:0.8rem">
                            <p class="mb-1">
                                <%=comment.text%>
                            </p>
                            <footer class="blockquote-footer">
                                <%=comment.author.username%>
                            </footer>
                        </blockquote>
                    </li>
                    <% }) %>
                </ul>
            </div>

        </div>
    </div>

</body>

</html>